body {
    background: white;
    font: arial;
    font-size: 12px;
    color: black;
    height: 100%;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

#controls {
    width: 420px;
    max-width: 400px;
    height: 100%;
    float:left;
}

#view-window {
    float: right;
    height: 100%;
    margin: 1px;
    position: absolute;
    left: 420px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}
#o3d {
    z-index: 200;
    
}
.box {
    border-radius: 10px;
    -moz-border-radius: 10px;
    background: #555555;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 2px;
    color: #F0f0f0;
}

.half_box {
    width: 45%;
    float:left;
    height: 100%;
}
.combo_box {
    display: table;
}

.full_box {
    width: 100%;
}
.quater_box {
    width: 25%;
    float: left;
}

.three_quater_box {
    width:65%;
    float:left;
}

.shape {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.ui-button-text {
    font-size: 11px !important
}

a:link {
    color: orange;
}
a:visited {
    color: orange;
}


.slider {
    width: 75%;
    margin: auto;
}


select {
    width: 75%;
}

#age_series {
   font-size: 30px;
}

.cfd_logo {
   height: 150px;
   background-color: white;
   background-image:url('/img/airplane_logos.jpg');
   background-repeat: no-repeat;
   background-position: left top;
}

