body { 
    margin-left:auto;
    margin-right: auto;
    padding-top: 0px;
    margin-top: 0px;
    font-family: arial;
    font-size: 14px;
    background: #21201E;
}

#header a:link {
    color:  #F7F7F7;
    text-decoration: none;
}

#header  a:visited {
    color:  #F7F7F7;
    text-decoration: none;
 
}


a:link {
    color: #1040CA;
}
a:visited {
    color: #1312CA;
}

a img {
    border:none;
}


#icons {
    display: table-row;
}

#main {
    width: 1024px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}


#header {
    width: 100%;
    height: 100px;
    padding: 0px;
    margin: 0px;
    background: #21201E;
}
#header h1 {
    font-family: Arial Black;
    font-size: 5em;
    color: #F7F7F7;
    padding-top: 0px;
    margin-top: 0px;
}

#content {
    min-height: 500px;
    background: white;
    margin:auto;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




#footer {
    text-align: center;
    background: #D0D0D0;
    padding: 10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}

#menu li {
    float: left;
    padding-top: 1em;
    margin-bottom: 0px;
}

#text-box {
    padding-left: 10px;
    padding-right: 10px;

}

bb-tabs bb-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
}

#icons {
    text-align: center;
}

.bb-tabs {
   padding-left: 5px;
   padding-right: 5px;
}

.bb-tab {
   margin-top: 5px;
   margin-bottom: 0px;
   margin-right: 2px;
   padding: 10px;
   margin-left: 2px;
   font-size: 14px;
   position: relative;
   top: 1px;
   border-bottom: 0 !important;
}

.ui-corner-all {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.notop-margin {
    margin-top: 0px;
}


.sidebyside-icon {
    display: table-cell;
    margin:10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.sidebyside-icon a {
    text-decoration: none;
}

#video {
    text-align: center;
}