h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

#display {
  position: relative;
  height: 100%;
}

#controls {
  display: none;
  font-size: 14px;
  position: absolute;
  top: 40px;
  right: 20px;
  background-color: white;
  border-radius: 10px;
  height: 30px;
  width: 0;
  border: 2px solid #777777;
  overflow: hidden;
}

#controls-content {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
}

#control-button {
  position: absolute;
  top: 10px;
  right: 20px;
}

#brainbrowser {
  height: 100%;
  width: 100%;
}

.box {
  border-radius: 10px;
  background: #555555;
  padding: 10px 5px;
  margin: 2px;
  color: #F0f0f0;
}

.half_box {
  display: table-cell;
  width: 45%;
  height: 100%;
  white-space: nowrap;
}
.combo_box {
  display: table;
  border-spacing: 5px 2px;
}

.full_box {
  width: 97%;
}
.quarter_box {
  width: 20%;
  float: left;
}

.three_quarter_box {
  width:70%;
  float:left;
}

#shapes {
  max-height: 200px;
  overflow: auto;
}

.shape {
  margin-bottom: 15px;
}

.ui-button-text {
  font-size: 11px !important
}

a:link {
  color: orange;
}

a:visited {
  color: orange;
}

.slider {
  width: 320px;
  margin: 5px auto;
}

.half_box .slider {
  display: inline-block;
  width: 100px;
  margin: 0;
}


select#clear_color {
  width: 75%;
}

#age_series {
  font-size: 30px;
}

.cfd_logo {
  height: 150px;
  background-color: white;
  background-image:url('/img/airplane_logos.jpg');
  background-repeat: no-repeat;
  background-position: left top;
}

#webgl-error {
  border: 4px solid red;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  width: 20em;
  padding: 1.5em;
  margin: 5em auto;
}

#webgl-error a {
  color: #FA5705;
}
html {
  height: 100%;
  overflow: hidden;
}

div#obj_file_select {
  margin-bottom: 1.5em;
  background-color: gray;
  padding: 0.5em;
  border-radius: 10px;

}

div#obj_file_submit_div {
  text-align: center;
}

#obj_file_submit {
  margin-top: 0.7em;
}

input[type=file] {
  margin-bottom: 0.4em;
}

select#obj_file_format {
  width: 85%;
}

#spectrum {
  margin-bottom: 5px;
}

canvas#spectrum-canvas {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

div#usage_notes {
  padding: 0.3em;
}

div#format_hints {
  padding-left: 4em;
  padding-right: 2em;
}

.maintenance {
  background-color: red;
  color: white;
  padding: 0.4em 1em;
  line-height: 1.4;
  font-weight: bold;
}

#blend-box {
  padding: 0.6em;
}
