html {
  height: 100%;
}

body {
  background: white;
  font: arial;
  font-size: 12px;
  color: black;
  height: 100%;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

#display {
  position: relative;
  height: 100%;
}

#controls {
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 99;
  width: 420px;
  height: 100%;
  background-color: white;
  padding: 1em 2em 1em 1em;
  border-radius: 10px;
  height: 70%;
  overflow-y: auto;
  border: 2px solid #777777;
}

#app-name {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
  padding: 0.4em;
  color: white;
  border-radius: 5px;
  border: 3px solid darkorange;
  background-image: linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -o-linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -moz-linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -webkit-linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -ms-linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	right top,
  	color-stop(0.01, rgb(51,51,51)),
  	color-stop(0.87, rgb(30,143,255))
  );
}

#loading {
  z-index: 999;
  position: absolute;
  top: 65px;
  left: 55px;
  font-size: 3em;
}

#control-button {
  position: absolute;
  top: 10px;
  right: 20px;
}

#brainbrowser {
  height: 100%;
  width: 100%;
}

.box {
  border-radius: 10px;
  background: #555555;
  padding: 10px 5px;
  margin: 2px;
  color: #F0f0f0;
}

.half_box {
  display: table-cell;
  width: 45%;
  height: 100%;
  white-space: nowrap;
}
.combo_box {
  display: table;
  border-spacing: 5px 2px;
}

.full_box {
  width: 97%;
}
.quarter_box {
  width: 20%;
  float: left;
}

.three_quarter_box {
  width:70%;
  float:left;
}

#shapes {
  max-height: 200px;
  overflow: auto;
}

.shape {
  margin-bottom: 15px;
}

.ui-button-text {
  font-size: 11px !important
}

a:link {
  color: orange;
}

a:visited {
  color: orange;
}

.slider {
  display: inline-block;
  margin-top: 1px;
  width: 350px;
  margin: auto;
}

.half_box .slider {
  width: 100px;
}


select#clear_color {
  width: 75%;
}

#age_series {
  font-size: 30px;
}

.cfd_logo {
  height: 150px;
  background-color: white;
  background-image:url('/img/airplane_logos.jpg');
  background-repeat: no-repeat;
  background-position: left top;
}

#webgl-error {
  border: 4px solid red;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  width: 20em;
  padding: 1.5em;
  margin: 5em auto;
}

#webgl-error a {
  color: #FA5705;
}

div#obj_file_select {
  margin-bottom: 1.5em;
  background-color: gray;
  padding: 0.5em;
  border-radius: 10px;

}

div#obj_file_submit_div {
  text-align: center;
}

#obj_file_submit {
  margin-top: 0.7em;
}

input[type=file] {
  margin-bottom: 0.4em;
}

select#obj_file_format {
  width: 85%;
}

#spectrum {
  margin-bottom: 5px;
}

canvas#spectrum-canvas {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

div#usage_notes {
  padding: 0.3em;
  font-size: 1.2em;
}

div#format_hints {
  padding-left: 4em;
  padding-right: 2em;
}

.maintenance {
  background-color: red;
  color: white;
  padding: 0.4em 1em;
  line-height: 1.4;
  font-weight: bold;
}

#blend-box {
  padding: 0.6em;
}
