<p>
  BrainBrowser was created by Nicolas Kassis and is currently developed and maintained by Tarek Sherif as part of the <a href="http://cbrain.mcgill.ca/">CBRAIN</a> project at <a href="http://www.mcgill.ca/">McGill University</a>.
</p>
<p>
  BrainBrowser uses <a href="http://threejs.org/">three.js</a> for 3D rendering and <a href="http://jquery.com/">jQuery</a> for interface design. BrainBrowser runs on a <a href="http://nodejs.org/">node.js</a> server using the <a href="http://expressjs.com/">Express</a> web application framework with the <a href="http://handlebarsjs.com/">Handlebars</a> templating engine. Development tasks are managed using <a href="http://gruntjs.com/">Grunt</a>.
</p>
<p>
  For support or inquiries, please contact Tarek Sherif at <a href="mailto:tsherif@bic.mni.mcgill.ca">tsherif@bic.mni.mcgill.ca</a>.
</p>
<p>
  <dl>
    <dt class="credit-title">Lead Developer</dt><dd>Tarek Sherif</dd>
    <dt class="credit-title">Contributing Developer</dt><dd>Mia Petkova</dd>
    <dt class="credit-title">Original Author</dt><dd>Nicolas Kassis</dd>
    <dt class="credit-title">Consultant</dt><dd>Samir Das</dd>
    <dt class="credit-title">CBRAIN System Architect</dt><dd>Marc Rousseau</dd>
    <dt class="credit-title">CBRAIN Manager</dt><dd>Reza Adalat</dd>
    <dt class="credit-title">Principal Investigator</dt><dd>Alan Evans</dd>
  </dl>
</p>