<p>
  BrainBrowser was created by Nicolas Kassis and is currently developed and maintained by Tarek Sherif as part of the <a href="http://cbrain.mcgill.ca/" target="_blank">CBRAIN</a> project at <a href="http://www.mcgill.ca/" target="_blank">McGill University</a>.
</p>
<p>
  BrainBrowser uses <a href="http://threejs.org/" target="_blank">three.js</a> for 3D rendering. Development tasks are managed using <a href="http://gruntjs.com/" target="_blank">Grunt</a>.
</p>
<p>
  This website uses <a href="http://jquery.com/" target="_blank">jQuery</a> for interface design and runs on a <a href="http://nodejs.org/" target="_blank">node.js</a> server using the <a href="http://expressjs.com/" target="_blank">Express</a> web application framework with the <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a> templating engine. 
</p>
<p>
  For support or inquiries, please contact Tarek Sherif at <a href="mailto:tsherif@bic.mni.mcgill.ca">tsherif@bic.mni.mcgill.ca</a>.
</p>
<p>
  <dl>
    <dt class="credit-title">Lead Developer</dt><dd>Tarek Sherif</dd>
    <dt class="credit-title">Contributing Developer</dt><dd>Mia Petkova</dd>
    <dt class="credit-title">Original Author</dt><dd>Nicolas Kassis</dd>
    <dt class="credit-title">Consultant</dt><dd>Samir Das</dd>
    <dt class="credit-title">CBRAIN System Architect</dt><dd>Marc Rousseau</dd>
    <dt class="credit-title">CBRAIN Manager</dt><dd>Reza Adalat</dd>
    <dt class="credit-title">Principal Investigator</dt><dd>Alan Evans</dd>
  </dl>
</p>