<p>
  <a href="/docs">BrainBrowser API documentation</a>
</p>
<p>
  Examples of BrainBrowser usage can be found in the <a href="/js/surface-viewer-demo.js">Surface Viewer</a>
  and <a href="/js/volume-viewer-demo.js">Volume Viewer</a> demonstration code used for this site.
</p>
<p>
  Presentations:
  <ul>
    <li><a href="/info/api-architecture.pdf">BrainBrowser: API and Architecture</a></li>
    <li><a href="/info/visualization-web">BrainBrowser: Neurological Visualization for the Web</a></li>
  </ul>
</p>