<h2>Try out BrainBrowser:</h2>
<p>
  <a href="/release/brainbrowser-{{version}}.tar.gz">BrainBrowser v{{version}}</a>
</p>
<p>
  Note that the BrainBrowser Surface Viewer requires <a href="http://threejs.org/" target="_blank">three.js</a>.
</p>
<p>
  Please send any feedback to <a href="mailto:tsherif@bic.mni.mcgill.ca">tsherif@bic.mni.mcgill.ca</a>.
</p>
<h2>Release Notes</h2>
<h3>v1.5.2</h3>
<ul>
  <li>
    Surface Viewer
    <ul>
      <li>Added support for Freesurfer ASCII thickness files.</li>
    </ul>
  </li>
</ul>
