<h2>Try out BrainBrowser:</h2>
<p>
  <span class="credit-title">BrainBrowser v{{version}}</span>:
  <a href="/release/brainbrowser-{{version}}.tar.gz">brainbrowser-{{version}}.tar.gz</a>
</p>
<p>
  BrainBrowser API documentation is available <a href="/docs">here</a>.
</p>
<p>Note that the BrainBrowser Surface Viewer requires <a href="http://threejs.org/">three.js</a>.</p>
<p>
  Please send any feedback to <a href="mailto:tsherif@bic.mni.mcgill.ca">tsherif@bic.mni.mcgill.ca</a>.
</p>