<h2>Try out BrainBrowser:</h2>
<p>Note that the BrainBrowser Surface Viewer requires <a href="http://threejs.org/">three.js</a>.</p>
<dl>
  <dt class="credit-title">BrainBrowser Surface Viewer</dt>
  <dd><a href="/js/brainbrowser/brainbrowser.surface-viewer.min.js">brainbrowser.surface-viewer.min.js</a></dd>
  <dt class="credit-title">BrainBrowser Volume Viewer</dt>
  <dd><a href="/js/brainbrowser/brainbrowser.volume-viewer.min.js">brainbrowser.volume-viewer.min.js</a></dd>
</dl>
<p>
  BrainBrowser API documentation is available <a href="/docs">here</a>.
</p>
<p>
  Please send any feedback to <a href="mailto:tsherif@bic.mni.mcgill.ca">tsherif@bic.mni.mcgill.ca</a>.
</p>