<h2>Try out BrainBrowser:</h2>
<p>
  <a href="/release/brainbrowser-{{version}}.tar.gz">BrainBrowser v{{version}}</a>
</p>
<p>
  <a href="/docs">BrainBrowser API documentation</a>
</p>
<p>
   <a href="/info/BrainBrowser.pdf">The architecture of BrainBrowser</a>
</p>
<p>
  Note that the BrainBrowser Surface Viewer requires <a href="http://threejs.org/" target="_blank">three.js</a>.
</p>
<p>
  Please send any feedback to <a href="mailto:tsherif@bic.mni.mcgill.ca">tsherif@bic.mni.mcgill.ca</a>.
</p>
