<h2>Surface Viewer Web Service (alpha)</h2>
<p>
  <strong>
    Please note the Surface Viewer Web Service is still in its early stages of development. Performance is not guaranteed and the API may change rapidly.
    Please send any comments or feedback to Tarek Sherif at <a href="mailto:tsherif@bic.mni.mcgill.ca">tsherif@bic.mni.mcgill.ca</a>.
  </strong>
</p>
<p>
  Load a BrainBrowser Surface Viewer widget into your web page to view your own data! Simply make an HTTP request to the following URL:
</p>
<p>
  <a href="/surface-viewer-widget">https://brainbrowser.cbrain.mcgill.ca/surface-viewer-widget</a>
</p>
<p>
   and insert the renturned HTML into your page. The Web Service will automatically load all required library files and
   launch the viewer. Optionally, you can provide a callback function to programatically control the viewer.
</p>
<h2>
  Examples
</h2>
<p>
  Load brain.obj MNIObj model into a 200 X 200 viewer:
  <pre>
    <span style='color:#808030; '>&lt;</span><span style='color:#603000; '>div</span> id<span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>display</span><span style='color:#800000; '>"</span><span style='color:#808030; '>></span><span style='color:#808030; '>&lt;</span><span style='color:#808030; '>/</span><span style='color:#603000; '>div</span><span style='color:#808030; '>></span>
    <span style='color:#808030; '>&lt;</span>script src<span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>jquery.min.js</span><span style='color:#800000; '>"</span><span style='color:#808030; '>></span><span style='color:#808030; '>&lt;</span><span style='color:#808030; '>/</span>script<span style='color:#808030; '>></span>
    <span style='color:#808030; '>&lt;</span>script<span style='color:#808030; '>></span>
      $<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>#display</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>load<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>https://brainbrowser.cbrain.mcgill.ca/surface-viewer-widget?version={{version}}&amp;model=brain.obj&amp;width=200&amp;height=200</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>   
    <span style='color:#808030; '>&lt;</span><span style='color:#808030; '>/</span>script<span style='color:#808030; '>></span>
  </pre>
</p>
<p>
  Use a viewer callback to set up a UI for the viewer (see the <a href="/documentation/brainbrowser/surface-viewer/viewer">viewer object API</a> ):
  <pre>
    <span style='color:#808030; '>&lt;</span><span style='color:#603000; '>div</span> id<span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>display</span><span style='color:#800000; '>"</span><span style='color:#808030; '>></span><span style='color:#808030; '>&lt;</span><span style='color:#808030; '>/</span><span style='color:#603000; '>div</span><span style='color:#808030; '>></span>
    <span style='color:#e34adc; '>Wireframe:</span> <span style='color:#808030; '>&lt;</span>input id<span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>wireframe</span><span style='color:#800000; '>"</span> type<span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>checkbox</span><span style='color:#800000; '>"</span><span style='color:#808030; '>/</span><span style='color:#808030; '>></span>
    <span style='color:#808030; '>&lt;</span>script src<span style='color:#808030; '>=</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>jquery-1.6.4.min.js</span><span style='color:#800000; '>"</span><span style='color:#808030; '>></span><span style='color:#808030; '>&lt;</span><span style='color:#808030; '>/</span>script<span style='color:#808030; '>></span>
    <span style='color:#808030; '>&lt;</span>script<span style='color:#808030; '>></span>
      function init<span style='color:#808030; '>(</span>viewer<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        $<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>#wireframe</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>change<span style='color:#808030; '>(</span>function<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
          viewer<span style='color:#808030; '>.</span>setWireframe<span style='color:#808030; '>(</span>$<span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>is<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>:checked</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
      <span style='color:#800080; '>}</span>
      $<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>#display</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>load<span style='color:#808030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0000e6; '>https://brainbrowser.cbrain.mcgill.ca/surface-viewer-widget?version=1.4.1&amp;viewer_callback=init&amp;model=brain.obj</span><span style='color:#800000; '>"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>   
    <span style='color:#808030; '>&lt;</span><span style='color:#808030; '>/</span>script<span style='color:#808030; '>></span>
  </pre>
</p>
<h2>Options</h2>
<p>
  The loaded viewer can be customized by passing options to the web service as parameters in the URL. 
  Supported options for the Surface Viewer Web Service include:
</p>
<dl>
  <dt class="credit-title">version</dt>
  <dd>
    Version of the Surface Viewer to use. Set this explicitly to prevent future updates from breaking your widget (default: latest)
  </dd>
  <dt class="credit-title">width</dt><dd>Width of the loaded viewer in pixels (default: 400)</dd>
  <dt class="credit-title">height</dt><dd>Height of the loaded viewer in pixels (default: 400)</dd>
  <dt class="credit-title">model</dt><dd>URL of a model file to load</dd>
  <dt class="credit-title">format</dt><dd>File format of the model file (MNIObj, WavefrontObj or FreesurferAsc. Default: MNIObj)</dd>
  <dt class="credit-title">intensity_data</dt><dd>URL of an intensity data file to map onto the model (requires a color map)</dd>
  <dt class="credit-title">color_map</dt><dd>URL of a color map file to use in mapping the intensity data</dd>
  <dt class="credit-title">zoom</dt><dd>Initial zoom level on the model (default: 1.0)</dd>
  <dt class="credit-title">viewer_callback</dt>
  <dd>
    A function defined in the client page that will be called once the viewer begins rendering, and to which a 
    <a href="/documentation/brainbrowser/surface-viewer/viewer">viewer object</a> 
    will be passed 
  </dd>
  <dt class="credit-title">element_id</dt><dd>ID of the HTML element that will be inserted into the page (default: "brainbrowser")</dd>
  <dt class="credit-title">nothreejs</dt><dd>Don't load three.js (i.e. if it's already loaded in the page. Default: false)</dd>
</dl>
