*~
*\#*\#
log/*
.#*
public/data
.svn
data/*.mnc
data/*.raw*
data/*.headers*
public/common/data
classes/*
*.log
tmp
config.yml
rackup.ru
node_modules
braincanvas.erb
braincloud.erb
development/public/models/*.obj
development/public/models/*.mtl
development/public/models/*.asc
development/public/models/*.txt
docs/docular/.htaccess
docs/docular/configs
docs/docular/controller
docs/docular/php
