<!DOCTYPE html>
<html>
<head>
  <style>
    dt {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>BrainBrowser Surface Viewer Web Service Statistics</h1>
  <dl>
    <dt>Invocations</dt><dd>{{stats.invocations}}</dd>
    <dt>Last Reset</dt><dd>{{stats.lastReset}}</dd>
  </dl>
</body>
</html>