<div id="closeAboutBt">
  <img src="img/closeCross.png"/>
</div>

<div>
  <h1>Help</h1>
  <p>
    This is some helpful things.
  </p>

  <h1>About</h1>
  <p>
    This is some about things.
  </p>

</div>
