<div id="model_{{ fileID }}" class="modelPanel">

  <div class="twoButtons">
    <div id="" class="showAllShapes buttonBB noselect" title="Show all the shapes from this model.">
      <i class="fa eyeicon fa-eye" aria-hidden="true"></i>
      Show all
    </div>

    <div class="hideAllShapes buttonBB noselect" title="Hide all the shapes from this model.">
      <i class="fa eyeicon fa-eye-slash red" aria-hidden="true"></i>
      Hide all
    </div>
  </div>

  <div id="" class="toggleAllShapes buttonBB noselect" title="Show the hidden shapes and hide visible shapes.">
    <i class="fa eyeicon fa-eye" aria-hidden="true"></i>
    <i class="fa fa-exchange" aria-hidden="true"></i>
    <i class="fa eyeicon fa-eye-slash red" aria-hidden="true"></i>
    Invert all
  </div>

  <div class="separator"></div>
</div>
