Background Color:
<select id="clear_color"> 
  <option value="0x888888">Gray</option>
  <option value="0x000000">Black</option>
  <option value="0xffffff">White</option>
  <option value="0xff0000">Red</option>
  <option value="0x00ff00">Green</option>
  <option value="0x0000ff">Blue</option>
  <option value="0x00ffff">Cyan</option>
  <option value="0xff00ff">Magenta</option>
  <option value="0xffff00">Yellow</option>
  <optgroup label="----------"></optgroup>
  <option value="0xf0f8ff">Alice Blue</option>
  <option value="0xfaebd7">Antique White</option>
  <option value="0x7fffd4">Aquamarine</option>
  <option value="0xf0ffff">Azure</option>
  <option value="0xf5f5dc">Beige</option>
  <option value="0xffe4c4">Bisque</option>
  <option value="0xffebcd">Blanched Almond</option>
  <option value="0x8a2be2">Blue Violet</option>
  <option value="0xa52a2a">Brown</option>
  <option value="0xdeb887">Burlywood</option>
  <option value="0x5f9ea0">Cadet Blue</option>
  <option value="0x98f5ff">Cadet Blue</option>
  <option value="0x7fff00">Chartreuse</option>
  <option value="0xd2691e">Chocolate</option>
  <option value="0xff7f50">Coral</option>
  <option value="0x6495ed">Cornflower Blue</option>
  <option value="0xfff8dc">Cornsilk</option>
  <option value="0xb8860b">Dark Goldenrod</option>
  <option value="0x006400">Dark Green</option>
  <option value="0xbdb76b">Dark Khaki</option>
  <option value="0x556b2f">Dark Olive Green</option>
  <option value="0xff8c00">Dark Orange</option>
  <option value="0x9932cc">Dark Orchid</option>
  <option value="0xe9967a">Dark Salmon</option>
  <option value="0x8fbc8f">Dark Sea Green</option>
  <option value="0x483d8b">Dark Slate Blue</option>
  <option value="0x2f4f4f">Dark Slate Gray</option>
  <option value="0x00ced1">Dark Turquoise</option>
  <option value="0x9400d3">Dark Violet</option>
  <option value="0xff1493">Deep Pink</option>
  <option value="0x00bfff">Deep Sky Blue</option>
  <option value="0x696969">Dim Gray</option>
  <option value="0x1e90ff">Dodger Blue</option>
  <option value="0xb22222">Firebrick</option>
  <option value="0xfffaf0">Floral White</option>
  <option value="0x228b22">Forest Green</option>
  <option value="0xdcdcdc">Gainsboro</option>
  <option value="0xf8f8ff">Ghost White</option>
  <option value="0xffd700">Gold</option>
  <option value="0xdaa520">Goldenrod</option>
  <option value="0xadff2f">Green Yellow</option>
  <option value="0xf0fff0">Honeydew</option>
  <option value="0xff69b4">Hot Pink</option>
  <option value="0xcd5c5c">Indian Red</option>
  <option value="0xfffff0">Ivory</option>
  <option value="0xf0e68c">Khaki</option>
  <option value="0xe6e6fa">Lavender</option>
  <option value="0xfff0f5">Lavender Blush</option>
  <option value="0x7cfc00">Lawn Green</option>
  <option value="0xfffacd">Lemon Chiffon</option>
  <option value="0xeedd82">Light</option>
  <option value="0xadd8e6">Light Blue</option>
  <option value="0xf08080">Light Coral</option>
  <option value="0xe0ffff">Light Cyan</option>
  <option value="0xffec8b">Light Goldenrod</option>
  <option value="0xfafad2">Light Goldenrod Yellow</option>
  <option value="0xd3d3d3">Light Gray</option>
  <option value="0xffb6c1">Light Pink</option>
  <option value="0xffa07a">Light Salmon</option>
  <option value="0x20b2aa">Light Sea Green</option>
  <option value="0x87cefa">Light Sky Blue</option>
  <option value="0x8470ff">Light Slate Blue</option>
  <option value="0x778899">Light Slate Gray</option>
  <option value="0xb0c4de">Light Steel Blue</option>
  <option value="0xffffe0">Light Yellow</option>
  <option value="0x32cd32">Lime Green</option>
  <option value="0xfaf0e6">Linen</option>
  <option value="0xb03060">Maroon</option>
  <option value="0x66cdaa">Medium</option>
  <option value="0x66cdaa">Medium Aquamarine</option>
  <option value="0x0000cd">Medium Blue</option>
  <option value="0xba55d3">Medium Orchid</option>
  <option value="0x9370db">Medium Purple</option>
  <option value="0x3cb371">Medium Sea Green</option>
  <option value="0x7b68ee">Medium Slate Blue</option>
  <option value="0x00fa9a">Medium Spring Green</option>
  <option value="0x48d1cc">Medium Turquoise</option>
  <option value="0xc71585">Medium Violet Red</option>
  <option value="0x191970">Midnight Blue</option>
  <option value="0xf5fffa">Mint Cream</option>
  <option value="0xffe4e1">Misty Rose</option>
  <option value="0xffe4b5">Moccasin</option>
  <option value="0xffdead">Navajo White</option>
  <option value="0x000080">Navy Blue</option>
  <option value="0xfdf5e6">Old Lace</option>
  <option value="0x6b8e23">Olive Drab</option>
  <option value="0xffa500">Orange</option>
  <option value="0xff4500">Orange Red</option>
  <option value="0xda70d6">Orchid</option>
  <option value="0xdb7093">Pale</option>
  <option value="0xeee8aa">Pale Goldenrod</option>
  <option value="0x98fb98">Pale Green</option>
  <option value="0xafeeee">Pale Turquoise</option>
  <option value="0xdb7093">Pale Violet Red</option>
  <option value="0xffefd5">Papaya Whip</option>
  <option value="0xffdab9">Peach Puff</option>
  <option value="0xffc0cb">Pink</option>
  <option value="0xdda0dd">Plum</option>
  <option value="0xb0e0e6">Powder Blue</option>
  <option value="0xa020f0">Purple</option>
  <option value="0xbc8f8f">Rosy Brown</option>
  <option value="0x4169e1">Royal Blue</option>
  <option value="0x8b4513">Saddle Brown</option>
  <option value="0xfa8072">Salmon</option>
  <option value="0xf4a460">Sandy Brown</option>
  <option value="0x54ff9f">Sea Green</option>
  <option value="0xfff5ee">Seashell</option>
  <option value="0xa0522d">Sienna</option>
  <option value="0x87ceeb">Sky Blue</option>
  <option value="0x6a5acd">Slate Blue</option>
  <option value="0x708090">Slate Gray</option>
  <option value="0xfffafa">Snow</option>
  <option value="0x00ff7f">Spring Green</option>
  <option value="0x4682b4">Steel Blue</option>
  <option value="0xd2b48c">Tan</option>
  <option value="0xd8bfd8">Thistle</option>
  <option value="0xff6347">Tomato</option>
  <option value="0x40e0d0">Turquoise</option>
  <option value="0xee82ee">Violet</option>
  <option value="0xd02090">Violet Red</option>
  <option value="0xf5deb3">Wheat</option>
  <option value="0xf5f5f5">White Smoke</option>
  <option value="0x9acd32">Yellow Green</option>
</select>
