Background Color:
<select id="clear_color"> 
  <option value="default">Gray</option>
  <option value="white">White</option>
  <option value="black">Black</option>
  <option value="pink">HOT PINK!</option>
</select>
