Background Color:
<select id="clear_color"> 
  <option value="0x888888">Gray</option>
  <option value="0xFFFFFF">White</option>
  <option value="0x000000">Black</option>
  <option value="0xFF00FF">HOT PINK!</option>
</select>
