<!DOCTYPE html>
<head>
  <link rel="icon" type="image/png" href="img/brainbrowser.png">
  <title>BrainBrowser Volume Viewer</title>
</head>
<body>
  <h1>Volume Viewer</h1>
  Click and drag the red dot to change slices. The red dot represents the location you are looking at. 
  <br>
  <div id="minc1" style="float: left">
    <canvas id="viewport-zspace"></canvas>
    <canvas id="viewport-xspace"></canvas>
    <canvas id="viewport-yspace"></canvas>
    <div id="mincinfo"></div>
  </div>



  <link type="text/css" href="/css/ui-darkness/jquery-ui-1.8.2.custom.css" rel="Stylesheet" />
  <link type="text/css" href="/css/braincanvas.css" rel="Stylesheet" />
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>
  <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
  <% if ENV["BRAINBROWSER_ENV"] == "production" %>
    <script type="text/javascript" src="/js/html5-minc-viewer.min.js"></script>
  <% else %>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/minc.js"></script>
    <script type="text/javascript" src="/js/color.js"></script>
    <script type="text/javascript" src="/js/spectrum.js"></script>
    <script type="text/javascript" src="/js/loader.js"></script>
    <script type="text/javascript" src="/js/braincanvas.js"></script>
  <% end %>
  <script type="text/javascript">
    bc1 = new BrainCanvas({
      xcanvas: document.getElementById('viewport-xspace'),
      ycanvas: document.getElementById('viewport-yspace'),
      zcanvas: document.getElementById('viewport-zspace'),
      canvasWidth: 256,
      canvasHeight: 256 
    });

    bc1.openFile('/data/test.mnc');

  </script>
</body>      
