<!DOCTYPE html>
<head>
  <title>2D Minc Viewer</title>
</head>
<body>
  Click and drag the red dot to change slices. The red dot represents the location you are looking at. 
  <div id="minc1" style="float: left">
    <canvas id="viewport-zspace"></canvas>
    <canvas id="viewport-xspace"></canvas>
    <canvas id="viewport-yspace"></canvas>
    <div id="mincinfo"></div>
  </div>



    <link type="text/css" href="/css/ui-darkness/jquery-ui-1.8.2.custom.css" rel="Stylesheet" />
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.2.custom.min.js"></script>
  <script type="text/javascript" src="/js/html5-minc-viewer.min.js"></script>
  <script type="text/javascript">
    bc1 = new BrainCanvas(document.getElementById('viewport-xspace'),document.getElementById('viewport-yspace'),document.getElementById('viewport-zspace'));
    bc1.openFile('/data/nbrain.mnc');

  </script>
</body>      
