<!DOCTYPE html>
<head>
  <link rel="icon" type="image/png" href="img/brainbrowser.png">
  <title>BrainBrowser Volume Viewer</title>
</head>
<body>
  <h1 id="app-name">Volume Viewer</h1>
  <div id="braincanvas-container">
  </div>
  
  <link type="text/css" href="/css/ui-darkness/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />
  <link type="text/css" href="/css/braincanvas.css" rel="Stylesheet" />
  <% if ENV["BRAINBROWSER_ENV"] == "loris" %>
    <link rel="stylesheet" href="/loris/css/jslider.css" type="text/css" />
	  <link rel="stylesheet" href="/loris/css/jslider.blue.css" type="text/css" />
    <link rel="Stylesheet" href="/loris/css/braincanvas.loris.css" type="text/css"/>
  <% end %>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/js/lib/jquery-ui-1.8.10.custom.min.js"></script>
  <script type="text/javascript" src="/js/lib/jquery.mousewheel.min.js"></script>
  <script src="/js/lib/oFactory.js"></script>
  <script type="text/javascript" src="/js/lib/ui.js"></script>
  <% if ENV["BRAINBROWSER_ENV"] == "production" %>
    <script type="text/javascript" src="/js/html5-minc-viewer.min.js"></script>
  <% else %>
    <script src="/js/braincanvas.js"></script>
    <script src="/js/braincanvas/braincanvas.display.js"></script>
    <script src="/js/braincanvas/braincanvas.ui.js"></script>
    <script src="/js/braincanvas/braincanvas.loader.js"></script>
    <script src="/js/braincanvas/braincanvas.colorscale.js"></script>
    <script src="/js/braincanvas/multivolume.js"></script>
    <script src="/js/braincanvas/minclib.js"></script>
    <script src="/js/braincanvas/minc.js"></script>
    <% if ENV["BRAINBROWSER_ENV"] == "loris" %>
      <script src="/loris/js/jshashtable-2.1_src.js"></script>
      <script src="/loris/js/jquery.numberformatter-1.2.3.js"></script>
      <script src="/loris/js/tmpl.js"></script>
      <script src="/loris/js/jquery.dependClass-0.1.js"></script>
      <script src="/loris/js/draggable-0.1.js"></script>
      <script src="/loris/js/jquery.slider.js"></script>
      <script src="/loris/js/braincanvas.loris_ui_controls.js"></script>   
    <% end %>
  <% end %>
  <script>
      window.onload = function() {

        BrainCanvas.viewer("braincanvas-container",
          {
            volumes: [
              {
                type: 'minc', 
                filename: 'data/ibis_411025_living_phantom_UNC_SD_HOS_20100112_t1w_003.mnc'
              }, 
              {
                type: 'minc', 
                filename: 'data/ibis_411025_living_phantom_UNC_SD_HOS_20100112_t1w_004.mnc'
              }
            ], 
            multi: true
          }
        ); 
 
      }      
    </script>
</body>      
