<div id="menu">
  <ul class="bb-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top"><a href="/">Home</a></li>
    <li class="ui-state-default ui-corner-top" ><a href="/about">About</a></li>
    <li class="ui-state-default ui-corner-top"><a href="/news">News</a></li>
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active" ><a href="/contacts">Contacts</a></li>
  </ul>
<div id="contacts" class="tab">
  <h3>Support</h3>
  Nicolas Kassis(nic.kassis@gmail.com) main developer of BrainBrowser
</div>
</div>
