<div id="menu">
  <ul class="bb-tabs bb-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="bb-tab ui-state-default ui-corner-top"><a href="/">Home</a></li>
    <li class="bb-tab ui-state-default ui-corner-top" ><a href="/about">About</a></li>
    <li class="bb-tab ui-state-default ui-corner-top ui-tabs-selected ui-state-active" ><a href="/credits">Credits</a></li>
  </ul>
</div>	
<div id="text-box">
<div id="contacts" class="tab">
  <p>
    BrainBrowser was created by Nicolas Kassis and is currently developed and maintained by Tarek Sherif.
  </p>
  <p>
    BrainBrowser uses <a href="http://threejs.org/">three.js</a> for 3D rendering and <a href="http://jquery.com/">jQuery</a> for interface design.
  </p>
  <p>
    For support or inquiries, please contact Tarek Sherif (tsherif@bic.mni.mcgill.ca).
  </p>
</div>
</div>
