 <html>  
    <head>  
       <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
       <title>MNI Object web viewer</title>  
       <script type="text/javascript" src="/js/jquery.js" ></script>
       <script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
       <script type="text/javascript" src="js/jquery-ui-1.8.custom.min.js"></script>
       <link type="text/css" href="css/overcast/jquery-ui-1.8.custom.css" rel="Stylesheet" />
       <link type="text/css" href="css/mniobjweb.css" rel="Stylesheet" />
       <script type="text/javascript" src="http://o3d.googlecode.com/svn/trunk/samples/o3djs/base.js"></script>  
       <script type="text/javascript" src="/js/mniobjweb.js"></script>  
    </head>  
    <body>  
       <h1>cyberZBrainBrowser Ultra Premium Edition BETA!</h1>  
       <h3>Now with AJAX</h3>
       
       <br/> 
       <div id="controls">
	    <h2>Instructions:</h2>
	    <p>
	    Left Click to move the model<br />
	    Shift+left click to select a point on the model<br />
	    Use W, S, A, D to rotate.</p>
	    Use the Scroll Wheel to zoom(not suported on mac) or up/down arrows
	    </p>
	  <h2>Controls</h2>
	 
	 Model:
	 <select class="controls" id="model">
	   <option VALUE="normal">Normal</option>
	   <option VALUE="inflated">Inflated</option>
	 </select>
	 <br />
	 Data Type:
	 <select class="data_controls" id="data-type">
	   <option VALUE="CT">Cortical Thickness</option>
	   <option VALUE="Area">Area</option>
	   <option VALUE="Volume">Volume</option>
	 </select>
	 <br />
	 Smoothing Kernel:
	 <select class="data_controls" id="data-sk">
	   <option VALUE="0mm">0mm</optio>
	   <option VALUE="5mm">5mm</option>
	   <option VALUE="10mm">10mm</option>
	   <option VALUE="15mm">15mm</option>
	   <option VALUE="20mm">20mm</option>
	   <option VALUE="25mm">25mm</option>
	   <option VALUE="30mm">30mm</option>
	   <option VALUE="35mm">35mm</option>
	   <option VALUE="40mm">40mm</option>
	 </select>
	 <br />
	 Modality
	 <select class="data_controls" id="data-modality">
	   <option VALUE="T">T</option>
	   <option VALUE="P1">P1</option>
	   <option VALUE="P2">P2</option>
	 </select>
	 <br />
	 Data Range:
	 <div id="data-range">
	   <div class="range_slider"></div>
	   Max: <input id="data-range-min" type="text" name="range_max" size="5"><br />
	   Min: <input id="data-range-max" type="text" name="range_max" size="5">
	 </div
	 <div id="spectrum"></div>
	 <br />
	 <a class="button" id="fillmode">Fill Mode</a>
	 <br />
	
</form>

<form name="default_form" action="#" method="get">
<input type="button" value="Reset view" onclick="resetView()" />
<input type="button" value="W" id="W"
    onclick="keyPressedAction('w', g_keyPressDelta);" />
<input type="button" value="S" id="S"
    onclick="keyPressedAction('s', g_keyPressDelta);" />
<input type="button" value="A" id="A"
    onclick="keyPressedAction('a', g_keyPressDelta);" />
<input type="button" value="D" id="D"
    onclick="keyPressedAction('d', g_keyPressDelta);" />
</form>


       </div>


       <div id="view-window">
       <div id="o3d" ></div>  
       <div style="display:none">  
          <!-- Start of effect -->  
          <textarea id="shader" name="shader" cols="80" rows="20"
 style="display: none;">uniform float4x4 worldViewProjection : WORLDVIEWPROJECTION;
uniform float4x4 world : WORLD;
uniform float4x4 viewInverse : VIEWINVERSE;
uniform float4x4 worldInverseTranspose : WORLDINVERSETRANSPOSE;
uniform float3 lightWorldPos;
uniform float4 ambientIntensity;
uniform float4 lightIntensity;
uniform float4 emissive;
uniform float4 ambient;
uniform float4 colorMult;
uniform float4 diffuse;
uniform float4 specular;
uniform float shininess;

struct VertexShaderInput {
  float4 position : POSITION;
  float4 normal : NORMAL;
  float4 color : COLOR;
};

struct PixelShaderInput {
  float4 position : POSITION;
  float3 normal : TEXCOORD1;
  float3 worldPosition : TEXCOORD4;
  float4 color : COLOR;
};

PixelShaderInput vertexShaderFunction(VertexShaderInput input) {
  PixelShaderInput output;
  output.position = mul(input.position, worldViewProjection);
  float3 worldPosition = mul(input.position, world).xyz;
  output.normal = mul(input.normal, worldInverseTranspose).xyz;
  output.worldPosition = worldPosition;
  output.color = input.color;	    
  return output;
}

float4 pixelShaderFunction(PixelShaderInput input) : COLOR { 
  diffuse = input.color;
  float3 surfaceToLight = normalize(lightWorldPos - input.worldPosition);
  float3 worldNormal = normalize(input.normal);
  float3 surfaceToView = normalize(viewInverse[3].xyz - input.worldPosition);
  float3 halfVector = normalize(surfaceToLight + surfaceToView);
  float4 litResult = lit(dot(worldNormal, surfaceToLight),
                         dot(worldNormal, halfVector), shininess);
  float4 outColor = ambientIntensity * ambient * colorMult;
  outColor += lightIntensity * (diffuse * colorMult * litResult.y +
      specular * litResult.z);
  outColor += emissive;
  return float4(outColor.rgb, diffuse.a * colorMult.a);
}

// #o3d VertexShaderEntryPoint vertexShaderFunction
// #o3d PixelShaderEntryPoint pixelShaderFunction
// #o3d MatrixLoadOrder RowMajor

</textarea>  
          <!-- End of effect -->  
     </div>  
     <div id="vertex_info">Vertex: </div>  
     </div>
     <div id="loading"></div>
       

</body>  
</html>  
