<div id="menu">
  
  
  <ul class="bb-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="/">Home</a></li>
    <li class="ui-state-default ui-corner-top"><a href="/about">About</a></li>
    <li class="ui-state-default ui-corner-top"><a href="/news">News</a></li>
    <li class="ui-state-default ui-corner-top"><a href="/contacts">Contacts</a></li>
  </ul>
  
  <div id="viewers">
    <p>
      BrainBrowser is web-based, 3D visualization tool for neuroimaging. Using web-standard technologies, such as WebGL and HTML5, it allows for real time manipulation and analysis of 3D neuroimaging data whether it be precalculated maps, such as the <a href="http://www.sciencedirect.com/science?_ob=ArticleURL&_udi=B6WNP-4JS1MWF-1&_user=10&_coverDate=07%2F01%2F2006&_rdoc=1&_fmt=high&_orig=gateway&_origin=gateway&_sort=d&_docanchor=&view=c&_searchStrId=1684567765&_rerunOrigin=google&_acct=C000050221&_version=1&_urlVersion=0&_userid=10&md5=7af71425a5aa4db6fad8748ab0bb5312&searchtype=a">MACACC</a> data set (Mapping Anatomical Correlations Across Cerebral Cortex), or models provided by the user in <a href="http://www.bic.mni.mcgill.ca/users/mishkin/mni_obj_format.pdf">MNI object format</a> and data in  one of the many currently supported formats (Minc, Nifti, object files, plain text).
    </p>
    <div id="video">
      <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/HlRTUYUf1Ew?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/HlRTUYUf1Ew?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></div>

    <p> Check out the <a href="#about" class="tablink" data-tabs="menu" data-tab="about">About</a> page for more information.</p>
</p><p>
  Select one of the following options to begin using BrainBrowser:
</p>
<p class="icons">
  <span class="sidebyside-icon">
    <a href="/surfview.html" ><img src="/img/surfview.png" width=225px height=150px alt="surfview"><br /><span class="button">Surface Viewer</span></a><br><br>
  </span>
  <span class="sidebyside-icon">
    <a href="/macacc.html"><img src="/img/macacc.png" width=225px height=150px alt="macacc"><br /><span class="button">Macacc Dataset</span></a><br><br>

  </span>
</p>
</div>

</div>
