<div id="menu">
  <ul class="bb-tabs bb-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="bb-tab ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="/">Home</a></li>
    <li class="bb-tab ui-state-default ui-corner-top"><a href="/about">About</a></li>
    <li class="bb-tab ui-state-default ui-corner-top"><a href="/credits">Credits</a></li>
  </ul>
</div>
<div id="text-box">
  <div id="viewers">
    <div id="html5-warnings">
      BrainBrowser requires the following HTML5 technologies which seem to be unavailable in your browser:
      <ul>
        <li id="webgl-warning"><a href="http://khronos.org/webgl/wiki/Getting_a_WebGL_Implementation" target="_blank">WebGL</a></li>
        <li id="webworker-warning"><a href="https://en.wikipedia.org/wiki/Web_worker" target="_blank">Web Workers</a></li>
      </ul>
      <a href="https://www.mozilla.org/firefox" target="_blank">Mozilla Firefox</a> is recommended for optimal viewing.
    </div>
    <p>
      BrainBrowser is a set of web-based, 3D visualization tools primarily targetting neuroimaging. 
      Using open web-standard technologies, such as WebGL and HTML5, it allows for real time 
      manipulation and analysis of 3D imaging data whether it be precalculated maps, such as the 
      <a href="http://www.sciencedirect.com/science?_ob=ArticleURL&_udi=B6WNP-4JS1MWF-1&_user=458507&_coverDate=07%2F01%2F2006&_rdoc=1&_fmt=high&_orig=gateway&_origin=gateway&_sort=d&_docanchor=&view=c&_searchStrId=1747460871&_rerunOrigin=google&_acct=C000022002&_version=1&_urlVersion=0&_userid=458507&md5=dc6bd372a8fee1ee776a3318d9966baf&searchtype=a">MACACC</a> 
      Dataset (Mapping Anatomical Correlations Across Cerebral Cortex), or models provided by the user in 
      <a href="http://www.bic.mni.mcgill.ca/users/mishkin/mni_obj_format.pdf" target="_blank">MNI object</a>,  
      <a href="http://en.wikipedia.org/wiki/Wavefront_.obj_file" target="_blank">Wavefront object</a> or 
      <a href="http://wideman-one.com/gw/brain/fs/surfacefileformats.htm" target="_blank">FreeSurfer ASCII surface</a> 
      file formats, and data in  one of the many currently supported formats (Minc, Nifti, object 
      files, plain text). BrainBrowser also provides a Volume Viewer for exploring 3D  
      <a href="http://www.bic.mni.mcgill.ca/ServicesSoftware/MINC">MINC</a> 
      volume data.
    </p>
    <p>Please select one of the following BrainBrowser tools:</p>
    <div class="icons">
      <div class="sidebyside-icon">
	      <a href="/surfview.html" ><img src="/img/model_viewer.png" height=190px style="border: 2px solid #FFF;" alt="surfview"><br />
	        <span class="button">Surface Viewer</span>
        </a>
        <br><br>
      </div>
      <div class="sidebyside-icon">
	      <!-- <a href="/macacc.html"> -->
          <img src="/img/macacc.png" height=190px style="border: 2px solid #FFF;" alt="macacc"><br />
          <div class="maintenance" >MACACC Dataset Viewer down for maintenance</div>
          <!-- <span class="button">Macacc Dataset</span> -->
        <!-- </a> -->
        <br><br>
      </div>
      <div class="sidebyside-icon">
	      <a href="/braincanvas"><img src="/img/braincanvas.png" height=190px style="border: 2px solid #FFF;" alt="braincanvas"><br />
	        <span class="button">Volume Viewer</span></a><br><br>
      </div>
    </div>
     <p>See the <a href="/about" class="tablink" data-tabs="menu" data-tab="about">About</a> page for more information.</p>
  </div>  
</div>
