<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title class="title">BrainBrowser</title>      
    <link type="text/css" href="/css/custom-theme/jquery-ui-1.8.10.custom.css" rel="stylesheet" />    
    <link type="text/css" href="/css/index.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="img/brainbrowser.png">
    <script type="text/javascript" src="/js/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-ui-1.8.10.custom.min.js"></script>
    {{#ifenv "production"}}
      <script type="text/javascript" src="/js/lib/brainbrowser.utils.js"></script>
    {{else}}
      <script type="text/javascript" src="/js/brainbrowser/lib/utils.js"></script>
    {{/ifenv}}
    <script type="text/javascript" src="/js/index.js"></script>
  </head>  
  <body>
    <div id="main">
      <div id="header">
        <h1><a class="title" href="/">BrainBrowser</a></h1>
      </div>
      <div id="content" class="tabs">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#get-brainbrowser">Get BrainBrowser</a></li>
          <li><a href="#credits">Credits</a></li>
        </ul>
        <div id="home" class="tab-content">
          {{> home }}
        </div>
        <div id="about" class="tab-content">
          {{> about }}
        </div>
        <div id="get-brainbrowser" class="tab-content">
          {{> get_brainbrowser }}
        </div>
        <div id="credits" class="tab-content">
          {{> credits }}
        </div>
      </div>
      <div id="footer">
        <a href="http://www.mcgill.ca"><img src="/img/mcgill.png" alt="McGill University"></a>
        <a href="http://www.canarie.ca"><img src="/img/canarie.png"></a>
      </div>
    </div>
  </body>
</html>
