<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>BrainBrowser</title>      
    <link type="text/css" href="/css/custom-theme/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />    
    <link type="text/css" href="/css/brainbrowser-main.css" rel="Stylesheet" />
  </head>  
  <body>
    <div id="main">
      <div id="webgl"></div>
      <div id="header">
	<h1><a href="/">BrainBrowser</a></h1>
      </div>
      <div id="content">
          <%= yield %>
      </div>
      <div id="footer">
	
	<a href="http://www.mcgill.ca"><img src="/img/mcgill.png" alt="McGill University"></a>
	<a href="http://www.canarie.ca"><img src="/img/canarie.png"></a>

	</div>
    </div>
    <script type="text/javascript" src="/js/modernizr-1.7.min.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript">
      $(function() { 
      $(".button").button();
      $(".tabs").tabs({ heigth: 800
      });
        $(".tablink").click(function(e) {
      var tabs_object = $(e.target).attr('data-tabs');
      var tab = $(e.target).attr('data-tab');
      $("#"+tabs_object).tabs("select", tab);
          return false;
        });
        if(!Modernizr.webgl) {
          $("#webgl").html("Your browser does not support WebGL. BrainBrowser requires WebGL to function. Please click one of the following links to obtain a WebGL browser: <a href='http://www.google.com/chrome'>Chrome</a> or <a href='http://www.mozilla.com/en-US/firefox/RC/'>Firefox 4 Release Candidate</a>");
          $("#webgl").css("margin-top","20px");
          $("#webgl").css("margin-bottom","0px");
          $("#webgl").css("background","white");
          $("#webgl").css("border-color","#FF2233");
          $("#webgl").css("border-style","dashed");
          $("#webgl").css("border-width","5px");
          $("#webgl").css("padding","5px");
        }

       });
      
    </script>
  </body>
</html>
