<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>BrainBrowser</title>      
    <link type="text/css" href="/css/custom-theme/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />    
    <link type="text/css" href="/css/brainbrowser-main.css" rel="Stylesheet" />
    <link rel="icon" type="image/png" href="img/brainbrowser.png">
  </head>  
  <body>
    <div id="main">
      <div id="header">
        <h1><a href="/">BrainBrowser</a></h1>
      </div>
      <div id="content">
          <%= yield %>
      </div>
      <div id="footer">
        <a href="http://www.mcgill.ca"><img src="/img/mcgill.png" alt="McGill University"></a>
        <a href="http://www.canarie.ca"><img src="/img/canarie.png"></a>
      </div>
    </div>
    <% if ENV["BRAINBROWSER_ENV"]  == "production" %>
      <script type="text/javascript" src="/js/jquery.js"></script>
    <% else %>
      <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
    <% end %>
    <script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>
    <script type="text/javascript" src="/js/brainbrowser.utils.js"></script>
    <script type="text/javascript" src="/js/layout.js"></script>
  </body>
</html>
