<!DOCTYPE html>
<html lang="en">  
  <head>  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link type="text/css" href="/css/ui-darkness/jquery-ui-1.8.2.custom.css" rel="Stylesheet" />
    <link type="text/css" href="/css/common.css" rel="Stylesheet" />
    <link type="text/css" href="/css/brainbrowser.css" rel="Stylesheet" />
    <link rel="icon" type="image/png" href="img/brainbrowser.png">
    <title>BrainBrowser MACACC Dataset Viewer</title>  
  </head>  
  <body>  
    <!-- The webgl window and loading messages if any -->
    <div id="display">
      <h1 id="app-name">MACACC Dataset Viewer</h1><a id="control-button" class="button">Hide Controls</a>
      <!-- Loading image from: http://www.ajaxload.info/ -->
      <div id="loading" style="display: none"><img src="/img/ajax-loader.gif" /></div>
      <div id="brainbrowser"></div>
      <div id="controls">
        <div id="controls-content">
          <div id="data range" class="box full_box">
            <h4>Usage</h4>
            <div id="usage_notes">
              Shift-click: select a point for correlation mapping.<br>
              Ctrl-click: select a point for coordinate and value information.
            </div>
          </div>
          <div id="surface_choice" class="box full_box">
            <h4>Surface Choice</h4>
            <select class="controls" id="model">
              <option VALUE="normal">Normal</option>
              <option VALUE="inflate_low">Inflated Low</option>
              <option VALUE="inflate_middle">Inflated Middle</option>
              <option VALUE="inflate_high">Inflated High</option>
            </select>
            <br />
          </div>
          <div id="scale_space" class="box full_box">
            <h4>Scale Space<h4>
            <select class="data_controls" id="data-sk">
              <option VALUE="0mm" >0mm</option>
              <option VALUE="5mm">5mm</option>
              <option VALUE="10mm">10mm</option>
              <option VALUE="15mm">15mm</option>
              <option VALUE="20mm">20mm</option>
              <option VALUE="25mm" selected="selected">25mm</option>
              <option VALUE="30mm">30mm</option>
              <option VALUE="35mm">35mm</option>
              <option VALUE="40mm">40mm</option>
            </select>
          </div>
          <div id="background_select" class="box full_box">
            {{> background_color }}
          </div>
          <div class="combo_box full_box">
            <div id="modality_choice" class="box half_box">
              <h4>Modality</h4>
              <input type="radio" class="data_controls" name="modality" VALUE="CT" checked="true">CT<br />
              <input type="radio" class="data_controls" name="modality" VALUE="AREA">AREA<br />
              <input type="radio" class="data_controls" name="modality" VALUE="VOL"><label for="VOL">VOL</label><br />
              <input id="AAL" type="radio" class="data_controls" name="modality" VALUE="AAL"><label for="AAL">AAL Atlas</label>
              <br />
            </div>
            <div id="statistic_choice" class="box half_box">
              <h4>Statistic</h4>  
              <input type="radio" class="data_controls" name="statistic"  VALUE="T" checked="true">T<br />
              <input type="radio" class="data_controls" name="statistic"  VALUE="P1">RFT_P (Vertex)<br />
              <input type="radio" class="data_controls" name="statistic"  VALUE="P2">RFT_P (Cluster)<br />
            </div>
          </div>
          <div class="combo_box full_box">
            <div id="views" class="box half_box" >
              {{> view_controls }}
            </div>
          
            <div id="coordinates" class="box half_box">
              <h4>Coordinates</h4>
              <input id="x-coord" type="text" size="5"><span id="x-coord-flip" class="button" >X</span><br />
              <input id="y-coord" type="text" size="5"> Y<br />
              <input id="z-coord" type="text" size="5"> Z<br />
              <input id="v-coord" type="text" size="5"> Index<br />
              <input id="value-coord" type="text" size="5">Value
            </div>
          </div>
          <div id="data range" class="box full_box">
            <h4>Thresholding</h4>
            <div id="data-range">
              Min: <input class="range-box" id="data-range-min" type="text" name="range_min" size="5" value="0"><br />
              <p>
                <div id="range-slider" class="slider" ></div>
              </p>
              Max: <input class="range-box" id="data-range-max" type="text" name="range_max" size="5" value="5" >
              <input type="checkbox" id="fix_range" checked="true"><label for="fix_range">Fix Range</label>
              <input type="checkbox" id="clamp_range" checked="true"><label for="clamp_range">Clamp range</label>
            </div>
          </div>
          <div class="combo_box full_box">
            <div id="spectrum_bar" class="three_quarter_box box">
              <div id="spectrum"></div>
              <input type="checkbox" class="button" id="flip_range"><label for="flip_range">Flip Colors</label>
              <span class="button" id="flip_correlation">Flip Correlation</span>
            </div>
            <div id="pointer_settings" class="box quarter_box">
              <h4>Pointer</h4>
              <input type="radio" class="pointer_control" name="pointer" VALUE="rotate" checked="true">Rotate<br />
              <input type="radio" class="pointer_control" name="pointer" VALUE="select">Select<br />
              <input type="radio" class="pointer_control" name="pointer" VALUE="check">Check<br/>
            </div>  
          </div>
          
          <span id="secondWindow" class="button">Second Window</span>
        </div>
      </div>
    </div>

    <!-- all the scripts -->    
    <script type="text/javascript" src="/js/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-ui-1.8.10.custom.min.js"></script>
    <script type="text/javascript" src="/js/lib/ui.js"></script>
    <script type="text/javascript" src="/js/lib/three.min.js"></script>
    <script type="text/javascript" src="/js/lib/TrackballControls.js"></script>
    <script type="text/javascript" src="/js/lib/AnaglyphEffect.js"></script>
    {{#ifenv "BRAINBROWSER_ENV" "production"}}
      <script type="text/javascript" src="/js/macaccview-combined.min.js"></script>
    {{else}}
      <script type="text/javascript" src="/js/lib/array.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/brainbrowser.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/modules/brainbrowser.color.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/modules/brainbrowser.loader.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/modules/brainbrowser.models.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/modules/brainbrowser.rendering.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/modules/brainbrowser.views.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/modules/brainbrowser.ui.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/filetypes/parse.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/filetypes/parse_worker.js"></script> 
      <script type="text/javascript" src="/js/brainbrowser/filetypes/config.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/data/data.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/data/color_manager.js"></script>
      <script type="text/javascript" src="/js/brainbrowser/data/spectrum.js"></script> 
      <script type="text/javascript" src="/js/lib/brainbrowser.utils.js"></script>
      <script type="text/javascript" src="/js/macacc/macacc.js"></script>
      <script type="text/javascript" src="/js/macaccview.js"></script>
    {{/ifenv}}
  </body>  
</html>  
