<div id="news" class="tab">
  <div id="news_1">
    <h3>Two window view in Macacc</h3>
    <h5>March 14 2011</h5>
    You can now open a second window in while browsing the macacc dataset and clicks in either window will also happen in the original window
    
  </div>
</div>
