<div id="menu">
  <ul class="bb-tabs bb-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="bb-tab ui-state-default ui-corner-top"><a href="/">Home</a></li>
    <li class="bb-tab ui-state-default ui-corner-top" ><a href="/about">About</a></li>
    <li class="bb-tab ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="/news">News</a></li>    
    <li class="bb-tab ui-state-default ui-corner-top"><a href="/contacts">Contacts</a></li>
  </ul>

  <div id="news" class="tab">
    <div id="news_1">
      <h3>Two window view in Macacc</h3>
      <h5>March 14 2011</h5>
      You can now open a second window in while browsing the macacc dataset and clicks in either window will also happen in the original window
      
    </div>
  </div>
</div>
