<!doctype html>
<html lang="en">  
  <head>  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>BrainBrowser Model Viewer</title>  
  </head>  
  <body>  

  <div id="controls">
    <h1>Model Viewer</h1>
    <div id="examples" class="box full_box">
      <h3>Sample Models</h3>
      <ul>
         <li><a href="#" span class="example" data-example-name="punkdti">DTI and Mesh Brain</a></li>
         <li><a href="#" class="example" data-example-name="realct">Brain with Map of Cortical Thickness</a></li>
         <li><a href="#" class="example" data-example-name="basic">Basic Brain Surface</a></li>
         <li><a href="#" class="example" data-example-name="plane" title="DLR-F6 Geometry 2nd AIAA CFD Drag Prediction Workshop, 2003">Aeroplane with Air Density and Air Flow</a></li>
         <li><a href="#" class="example" data-example-name="car">Automobile</a></li> 
      </ul>
    </div>
    <div id="surface_choice" class="box full_box">
      <h4>Load your own data!</h4>
      <p>
        (Note: your data will remain on your computer and will not be transferred to the BrainBrowser server.)
      </p>     
      <form id="datafile-form" method="POST"  action="/upload/minc" enctype="multipart/form-data">
        <span id="obj_file_select">
          Object File: <input type="file" name="objfile" id="objfile"><br>
          Format:
          <select  id="obj_file_format" name="format">
            <option value="mni">MNI OBJ</option>
            <option value="wavefront">Wavefront OBJ</option>
          </select>
        </span>
        <br />
        Data: <input type="file" name="datafile" id="datafile"><br />
        Data Series(Multiple): <input type="file" name="dataseriesfile" id="dataseriesfile" multiple=true> <br />
        Data Blend(Multiple): <input type="file" name="datablendfile" id="datablendfile" multiple=true> <br />
        Color Bar: <input type="file" name="spectrum" id="spectrum"><br />
      </form>
    </div>
    <div id="background_select" class="box full_box">
      Background Color:
      <select id="clearColor"> 
        <option value="default">Gray</option>
        <option value="white">White</option>
        <option value="black">Black</option>
        <option value="pink">HOT PINK!</option>
      </select>
    </div>
    <div class="box full_box" id="shapes-box">
      <div id="shapes">
      </div>
      <span id="clearshapes" class="button">Clear Shapes</span>
    </div>
    <div class="box full_box">
        <h4>Views</h4>
        <div id="hem_views_1" class="half_box">
          <input id="left_hem_visible" class="view_button" type="checkbox" checked="true">Left 
          <br />
          <input id="hem_superior" class="view_button" type="radio" name="hem_view" value="superior" checked="true">Superior

          <br />
          <input id="hem_medial" class="view_button" type="radio" name="hem_view" value="medial">Medial

          <br />
          <input id="hem_anterior" class="view_button" type="radio" name="hem_view" value="anterior">Anterior

        </div>
        <div id="hem_views_2" class="half_box">
          <input id="right_hem_visible" class="view_button" type="checkbox" checked="true">Right<br />
          <input id="hem_inferior" class="view_button" type="radio" name="hem_view" value="inferior">Inferior	     
          <br />
          <input id="hem_lateral" class="view_button" type="radio" name="hem_view" value="lateral">Lateral
          <br />
          <input id="hem_posterior" class="view_button" type="radio" name="hem_view" value="posterior">Posterior
        </div>
        <p>
          <a class="button" id="resetview">Reset View</a>
          <input type="checkbox" class="button" id="meshmode"><label for="meshmode">Mesh Mode</label>
          <span id="autorotate-controls" class="buttonset">
            <input type="checkbox"  id="autorotate"><label for="autorotate">Autorotate</label>
            <input type="checkbox"  id="autorotateX"><label for="autorotateX">X</label>
            <input type="checkbox"  id="autorotateY"><label for="autorotateY">Y</label>
            <input type="checkbox"  id="autorotateZ"><label for="autorotateZ">Z</label>
          </span>
        </p>

    </div>
      
    <div id="data_range" class="box full_box">
      <h4>Thresholding</h4>
      <div id="data-range">
        Min: <input class="range-box" id="data-range-min" type="text" name="range_min" size="5" ><br />
        <div id="range-slider" class="slider"></div>
        Max: <input class="range-box" id="data-range-max" type="text" name="range_max" size="5" >
        <input type="checkbox" class="button" id="fix_range"><label for="fix_range">Fix Range</label>
        <input type="checkbox" class="button" id="clamp_range" checked="true"><label for="clamp_range">Clamp range</label>
        <input type="checkbox" class="button" id="flip_range"><label for="flip_range">Flip Colors</label>
      </div>
    </div>
    <span id="openImage" class="button">Get Screenshot</span>
    <div id="logos" class="box full_box cfd_logo">
    </div>
  </div>

    <!-- The webgl window and loading messages if any -->
    <div id="view-window">
      <center><span id="age_series"></span></center>
      <div id="loading"></div>
    </div>

    <!-- all the scripts and css -->
    <link type="text/css" href="/css/ui-darkness/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />
    <link type="text/css" href="/css/brainbrowser.css" rel="Stylesheet" />
    <script type="text/javascript" src="/js/three.min.js"></script>
    <script type="text/javascript" src="/js/TrackballControls.js"></script>
    
    <% if ENV["BRAINBROWSER_ENV"] == "production" %>
      <script type="text/javascript" src="/js/jquery.js"></script>
      <script type="text/javascript" src="/js/surfview-combined.min.js"></script>
      <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <% else %>
      <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
      <script type="text/javascript" src="/js/data.js"></script> 
	    <script type="text/javascript" src="/js/utils.js"></script> 
	    <script type="text/javascript" src="/js/color.js"></script>
	    <script type="text/javascript" src="/js/spectrum.js"></script> 
	    <script type="text/javascript" src="/js/mniobj.js"></script> 
	    <script type="text/javascript" src="/js/wavefront_obj.js"></script>
	    <script type="text/javascript" src="/js/object.js"></script> 
	    <script type="text/javascript" src="/js/brainbrowser.js"></script> 
	    <script type="text/javascript" src="/js/surfview.js"></script> 
	    <script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>
    <% end %>
	  
    <script type="text/javascript">
    $(function() {
      document.getElementById("view-window").onselectstart = function() {
      return false;
    };
      
      document.getElementById("view-window").onmousedown = function() {
        return false;
      };
      jQuery(".button").button();
      $(".buttonset").buttonset();
      var surfview = new SurfView(function(bb) {
        bb.loadObjFromUrl('/models/dti.obj', { renderDepth: 999 });
		    bb.loadObjFromUrl('/models/left_color.obj');
		    bb.loadObjFromUrl('/models/right_color.obj');
      });
      
      jQuery("#objfile").change(function() {
        surfview.brainbrowser.clearScreen();
        var format = $(this).closest("#obj_file_select").find("#obj_file_format option:selected").val();
        surfview.brainbrowser.loadObjFromFile(document.getElementById("objfile"), {format: format});
      });
      jQuery("#obj_file_format").change(function() {
        surfview.brainbrowser.clearScreen();
        var format = $(this).closest("#obj_file_select").find("#obj_file_format option:selected").val();
        surfview.brainbrowser.loadObjFromFile(document.getElementById("objfile"), {format: format});
      });
      
      jQuery("#datafile").change(function() {
        surfview.brainbrowser.loadDataFromFile(document.getElementById("datafile"));
      });

      jQuery("#spectrum").change(function() {
        surfview.brainbrowser.loadSpectrumFromFile(document.getElementById("spectrum"));
      });


      jQuery("#dataseriesfile").change(function() {
        surfview.brainbrowser.loadSeriesDataFromFile(document.getElementById("dataseriesfile"));
      });

      jQuery("#datablendfile").change(function() {
        surfview.brainbrowser.loadBlendDataFromFile(document.getElementById("datablendfile"));
      });


    });
    </script>
  </body>  
</html>  
