<!doctype html>
<html lang="en">  
  <head>  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>BrainBrowser Model Viewer</title>  
  </head>  
  <body>  

  <div id="controls">
    <h1>Model Viewer</h1>
    <div id="examples" class="box full_box">
      <h3>Sample Models</h3>
      <ul>
         <li><a href="#" class="example" data-example-name="realct">Brain with Map of Cortical Thickness</a></li>
         <li><a href="#" span class="example" data-example-name="punkdti">DTI and Mesh Brain</a></li>
         <li><a href="#" class="example" data-example-name="basic">Basic Brain Surface</a></li>
         <li><a href="#" class="example" data-example-name="plane" title="DLR-F6 Geometry 2nd AIAA CFD Drag Prediction Workshop, 2003">Aeroplane with Air Density and Air Flow</a></li>
         <li><a href="#" class="example" data-example-name="car">Automobile</a></li> 
      </ul>
    </div>
    <div id="surface_choice" class="box full_box">
      <h4>Load your own data!</h4>
      <p>
        (Note: your data will remain on your computer and will not be transferred to the BrainBrowser server.)
      </p>     
        <div id="obj_file_select">
          Object File:
          <input type="file" name="objfile" id="objfile"><br>
          Format: 
          <select  id="obj_file_format" name="format">
            <option value="MNIObject">MNI OBJ</option>
            <option value="WavefrontObj">Wavefront OBJ</option>
            <option value="FreeSurferAsc">Freesurfer ASC</option>
          </select><br>
          <div id="format_hints"></div>
          <div id="obj_file_submit_div">
            <span id="obj_file_submit" class="button">Load</span><br>
          </div>
        </div>
        <p>
          Data: <input type="file" name="datafile" id="datafile"><br />
          Data Series (Multiple): <input type="file" name="dataseriesfile" id="dataseriesfile" multiple=true> <br />
          Data Blend (Multiple): <input type="file" name="datablendfile" id="datablendfile" multiple=true> <br />
          Color Bar: <input type="file" name="spectrum" id="spectrum"><br />
        </p>
        <span id="clearshapes" class="button">Clear Shapes</span>
    </div>
    <div id="background_select" class="box full_box">
      <%= erb :background_color %>
    </div>
    <div class="combo_box">
      <div id="views" class="box half_box" >
        <%= erb :view_controls %>
      </div>
      <div id="shape-cell" class="box half_box">
        <div id="shapes">
        </div>
      </div>
    </div>
    <div id="data_range" class="box full_box">
      <h4>Thresholding</h4>
      <div id="data-range">
        Min: <input class="range-box" id="data-range-min" type="text" name="range_min" size="5" ><br />
        <div id="range-slider" class="slider"></div>
        Max: <input class="range-box" id="data-range-max" type="text" name="range_max" size="5" >
        <input type="checkbox" class="button" id="fix_range"><label for="fix_range">Fix Range</label>
        <input type="checkbox" class="button" id="clamp_range" checked="true"><label for="clamp_range">Clamp range</label>
        <input type="checkbox" class="button" id="flip_range"><label for="flip_range">Flip Colors</label>
      </div>
    </div>
    <span id="openImage" class="button">Get Screenshot</span>
    <div id="logos" class="box full_box cfd_logo">
    </div>
  </div>

    <!-- The webgl window and loading messages if any -->
    <div>
      <div id="loading" style="display: none">Loading...</div>
      <center><span id="age_series"></span></center>
      <div id="brainbrowser"></div>
    </div>

    <!-- all the scripts and css -->
    <link type="text/css" href="/css/ui-darkness/jquery-ui-1.8.10.custom.css" rel="Stylesheet" />
    <link type="text/css" href="/css/brainbrowser.css" rel="Stylesheet" />
    <script type="text/javascript" src="/js/three.min.js"></script>
    <script type="text/javascript" src="/js/TrackballControls.js"></script>
    <script type="text/javascript" src="/js/AnaglyphEffect.js"></script>
    <% if ENV["BRAINBROWSER_ENV"] == "production" %>
      <script type="text/javascript" src="/js/jquery.js"></script>
      <script type="text/javascript" src="/js/surfview-combined.min.js"></script>
      <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <% else %>
      <script type="text/javascript" src="/js/jquery-1.6.4.min.js"></script>
      <script type="text/javascript" src="/js/jquery-ui-1.8.10.custom.min.js"></script>
	    <script type="text/javascript" src="/js/utils.js"></script> 
	    <script type="text/javascript" src="/js/color.js"></script>
	    <script type="text/javascript" src="/js/spectrum.js"></script> 
	    <script type="text/javascript" src="/js/brainbrowser.js"></script>
	    <script type="text/javascript" src="/js/brainbrowser.color.js"></script>
	    <script type="text/javascript" src="/js/brainbrowser.data.js"></script>
  	  <script type="text/javascript" src="/js/brainbrowser.models.js"></script>
  	  <script type="text/javascript" src="/js/brainbrowser.rendering.js"></script>
  	  <script type="text/javascript" src="/js/brainbrowser.views.js"></script>
  	  <script type="text/javascript" src="/js/brainbrowser.ui.js"></script>
	    <script type="text/javascript" src="/js/mniobj.js"></script> 
	    <script type="text/javascript" src="/js/wavefront_obj.js"></script>
	    <script type="text/javascript" src="/js/freesurfer_asc.js"></script> 
      <script type="text/javascript" src="/js/data.js"></script> 
	    <script type="text/javascript" src="/js/surfview.js"></script> 
    <% end %>
  </body>  
</html>  
