<h4>Views:</h4>
<div id="hem_views_1" class="half_box">
  <input id="left_hem_visible" class="view_button" type="checkbox" checked="true">Left 
  <br />
  <input id="hem_superior" class="view_button" type="radio" name="hem_view" value="superior" checked="true">Superior

  <br />
  <input id="hem_medial" class="view_button" type="radio" name="hem_view" value="medial">Medial

  <br />
  <input id="hem_anterior" class="view_button" type="radio" name="hem_view" value="anterior">Anterior

</div>
<div id="hem_views_2" class="half_box">
  <input id="right_hem_visible" class="view_button" type="checkbox" checked="true">Right<br />
  <input id="hem_inferior" class="view_button" type="radio" name="hem_view" value="inferior">Inferior	     
  <br />
  <input id="hem_lateral" class="view_button" type="radio" name="hem_view" value="lateral">Lateral
  <br />
  <input id="hem_posterior" class="view_button" type="radio" name="hem_view" value="posterior">Posterior
</div>
<p>
  <a class="button" id="resetview">Reset View</a>
  <input type="checkbox" class="button" id="meshmode"><label for="meshmode">Mesh Mode</label>
</p>
<p>
  <span id="autorotate-controls" class="buttonset">
    <input type="checkbox"  id="autorotate"><label for="autorotate">Autorotate</label>
    <input type="checkbox"  id="autorotateX"><label for="autorotateX">X</label>
    <input type="checkbox"  id="autorotateY"><label for="autorotateY">Y</label>
    <input type="checkbox"  id="autorotateZ"><label for="autorotateZ">Z</label>
  </span>
</p>
<p>
  <input type="checkbox" class="button" id="threedee"><label for="threedee">3D Glasses!</label>
</p>