body {
    background: #B3B3B3;
    font: arial 1em;
    color: black;
}

#controls {
    width: 20%;
    float:left;

}

#view-window {
    float: left;
    width: 79%;
    height: 100%;
}
#instructions {
    width: 100%;
    float: left;
    height: 20%;
}

#spectrum {
    border: white solid 2px;
    width:256px;
    height: 20px;
}

#spectrum div{
    height: 20px;
    float:left;
}
#scale {
    width: 256px;
    height:20px;
}
#scale span.mark {
 width: 2px;
 float: left;
 background: red;
}    
#scale span.empty{
    width: 124px;
    float:left;
}
.box {
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #42429D;
}



.half_box {
    width: 50%;
    display: table-cell;
}
.combo_box {
    margin-top: 5px;
    display: table;
}

.full_box {
    width: 100%;
}

.ui-button-text {
    font-size: 11px !important
}

select {
    width: 75%;
}