body {
    background: white;
    color: black;
}
#controls {
    width: 15%;
    float: left;
    display: inline;
}
.range_slider {
    width: 200px;
}

#view-window {
    width: 85%;
    float: left;
    height: 100%;
    display: inline;
}
#instructions {
    width: 100%;
    float: left;
    height: 20%;
}

#spectrum {
    border: white solid 2px;
    width:256px;
    height: 20px;
}

#spectrum div{
    height: 20px;
    float:left;
}
#scale {
    width: 256px;
    height:20px;
}
#scale span.mark {
 width: 2px;
 float: left;
 background: red;
}    
#scale span.empty{
    width: 124px;
    float:left;
}
.box {
    margin-top: 5px;
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.ui-button-text {
    font-size: 11px !important
}