body {
    background: #B3B3B3;
    font: arial, 0.8em;
    color: black;
}

#controls {
    width: 25%;
    float:left;

}

#view-window {
    float: left;
    width: 74%;
    height: 100%;
    margin-left: 1%;
}
#o3d {
    z-index: 200;
    
}
#instructions {
    width: 100%;
    float: left;
    height: 20%;
}

#spectrum {
    float: left;
    border: white solid 2px;
    width:256px;
    height: 20px;
    
}
#scale {
   z-index: 1000;   
   position: absolute;
   color: black;
}
#scale > #scale_min {
    float: left;
}
#scale > #scale_max {
    float: right;
}

spectrum > div{
    width: 1px;
    height: 20px;
    float:left;
}

.box {

    border-style: solid;
    border-width: 2px;
    border-color: #42429D;
}



.half_box {
    width: 50%;
    display: table-cell;
}
.combo_box {
    display: table;
}

.full_box {
    width: 100%;
}
.quater_box {
    width: 30%;
    display: table-cell;
}

.three_quater_box {
    width:70%
    display: table-cell;
}


.ui-button-text {
    font-size: 11px !important
}

#range-slider {
    width: 75%;
    margin: auto;
}

select {
    width: 75%;
}