body {
  font: arial;
  height: 100%;
  margin: 0;
}

#app-name {
  display: none;
  font-size: 24px;
  white-space: nowrap;
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
  padding: 0.4em;
  color: white;
  border-radius: 5px;
  border: 3px solid darkorange;
  background-image: linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -o-linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -moz-linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -webkit-linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -ms-linear-gradient(left bottom, rgb(51,51,51) 1%, rgb(30,143,255) 87%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	right top,
  	color-stop(0.01, rgb(51,51,51)),
  	color-stop(0.87, rgb(30,143,255))
  );
}


#loading {
  z-index: 999;
  position: absolute;
  top: 65px;
  left: 55px;
  font-size: 3em;
}
