.jslider {
  margin-top: 1em!important;
}

.jslider-label {
  color: #FFF!important;
}

.jslider-value {
  color: #000!important;
}

select.ui-toggle-switch { 
  display: none; 
}

.ui-toggle-switch, .ui-toggle-switch .ui-slider, .ui-toggle-switch label { 
  display: inline-block; *display: inline; zoom: 1; 
}

.ui-toggle-switch label { 
  text-transform: uppercase; margin: 0 8px; font-weight: bold; background: none; border: 0; font-size: 10px; opacity: 0.5; filter: alpha(opacity=50); 
}

.ui-toggle-switch label:first-child { 
  margin-left: 0; 
}

.ui-toggle-switch label.ui-state-active { 
  opacity: 1; filter: alpha(opacity=100); 
}

.ui-toggle-switch .ui-slider { 
  margin: 0 8px; 
}

.volume-controls {
  height: 250px;
}
